/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E5D8;
    font-size: 12px;
    font-family: "Outfit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
    margin: 10px 0;
}

img{
    max-width: 90%;
    border-radius: 20px;
    margin: 20px;
}

.flex{
    display: flex;
    
}

/*Titoli*/

h1{
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Young Serif", serif, Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
    margin-bottom: 15px;
    color: #81442F;
}

h3{
    color:#622E44 ;
}

/*Hr*/

hr{
    margin: 20px 0px 0px 0px;
}

.col hr, 
.col2 hr{
    margin: 10px -20px;
    padding: 0px;
}

/*Contenitore*/

.contenitore_principale{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;;
}

.contenitore{
    padding: 10px 20px;
}

.contenitore_lista{
    padding: 20px 30px;
    margin: 10px 10%;
    background-color: #ebc6d6;
}

/*Liste*/

li{
    padding:5px;
    margin-left: 12px;
    margin-top: 5px;
}

ul li::marker,
ol li::marker{
    color: #81442F;
}

.contenitore_lista ul li::marker{
    color: #622E44;
}

/*Colonne*/

.col{
    width: 50%;
}

.col2 span{
    color: #81442F;
}


.col2:last-child{
    margin-bottom: 15px;
}




